extends layout

block content
  h1= task.title
  p
    strong Description: 
    | #{task.description}
  p
    strong Next Run: 
    | #{task.nextRun ? new Date(task.nextRun).toLocaleString() : '—'}
  p
    strong Interval: 
    | #{task.interval || '—'}
  if task && task.attachment
    p
      strong Attachment: 
      a(href=`/api/gridfs/files/${task.attachment}` target='_blank') #{task.attachmentFilename || 'Download'}
  a.btn.btn-secondary(href='/') Back
